.conteiner{
    max-width: 1920px;
    width: 100%;
    /* border: 2px solid green; */
}
header{
    max-width: 84.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}
.howto{
    width: 7.5%;
    padding-top: 52px;
}
nav{
    display: flex;
    gap: 53px;
    padding-top: 73px;
}
.nav{
    font-size: 20px;
}
.magnifi{
    width: 25.5px;
    height: 25.5px;
    /* padding-top: 70px; */
    margin-top: 70px;
}

.section1{
    width: 84.5%;
    height: 613px;
    margin: 0 auto; 
    margin-top: 60px;
    background-image: url("../image/mainimage.png");

}
.section2{
    width: 84.5%;
    margin: 0 auto;
    margin-top: 138px;

}
h2{
    font-size: 53px;
    font-weight: bold #707070;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    
}
.card{
    width: 29.5%;
    border: 2px solid #707070;
    box-shadow: 2px 4px  #707070;

   
 

}
.ptxt{
    
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold #707070;

}
.more{
    margin-top: 73px;
    /* padding-left: 414px; */
    text-align: end;
    padding-bottom: 35px;
    font-size: 24px;
}
.cardimg{
    max-width: 100%;
}
.ptxt2{
    font-size: 18px;
    margin-top: 33px;
}
.load{
   text-align: center;
    margin-top: 56px;
    font-size: 30px;
}

.section3{
    max-width:1640px ;
    width: 84.5%;
    margin: 0 auto;
    margin-top: 149px;
    
}
footer{
    max-width: 1920px;
    width: 100%;
    margin-top: 75px;
   margin-bottom: 50px;
    display: flex;
    background-color: #2E2E2E;
}
.howtowhith{
    padding-left: 140px;
    padding-top: 49px;
    padding-bottom: 55px;
}

.contact{
    display: flex;
    flex-direction: column;
    height: 61px;
  margin-left: 300px;
   padding-top: 60px;
    
   
}
.txtcontacti{
    font-size: 20px;
    color: aliceblue;

}
.txtinfo{
    font-size: 13px;
    color: aliceblue;
    margin-top: 6px;
}


li{
    font-size: 13px;
    color: aliceblue;

}
.adress{
    margin-left: 300px;
    padding-top: 60px;
}
.social{
    display: flex;
    justify-content: space-between;
    gap: 34.1px;
    margin-left: 295px;
    padding-top: 74px;
}

@media screen end (max-width:320px) {
    header{
        max-width: 100%;
        width: 100%;
       display: flex;
       /* border: 2px solid red; */
    }
    
    .howto{
        padding-top: 13px;
        margin-left: 27px;
        padding-bottom: 22px;
        width: 20%;
        
    }
    nav{
        display: none;
    }
    .magnifi{
        margin-left: 196.3px;
        margin-top: 17px;
    }
    .section1{
        width: 100%;
        height: 253px;
        margin-top: 0%;
       background-image: url("../image/yannis-papanastasopoulos-yWF2LLan-_o-unsplash.svg")
    }
    .section2{
        max-width: 320px;
        width: 100%;
        margin-top: 91px;
        /* border: 2px solid red; */
           }
           h2{
            text-align: center;
            font-size: 15px;
            font-weight: bold #707070;
            
        }      
        
        .cards{
        
            display: flex;
            flex-direction: column;
            gap: 32.4px;
            margin-top: 31px;
          
            
        }
        .card{
            width: 100%;
            border: 2px solid #707070;
            box-shadow: 2px 4px  #707070;
        
           
         
        
        }
        .ptxt{
            margin-top: 10px;
            font-size: 15px;
            font-weight: bold #707070;
        
        }
        .ptxt2{
            font-size: 10px;
            margin-top: 17px;
        }

        .more{
            margin-top: 39px;
            /* padding-left: 414px; */
            text-align: end;
            padding-right: 3px;
            padding-bottom: 19px;
            font-size: 11px;
            font-weight: bolder #707070;
        }
        .load{
            text-align: center;
            font-size: 9px;
            font-weight: bold #707070;
            margin-top: 26px;

        }
        .section3{
            max-width:320px ;
            width: 100%;
            margin: 0 auto;
            margin-top: 26px;
            
        }
        footer{
            max-width: 320px;
            width: 100%;
            margin-top: 28.5px;
           margin-bottom: 50px;
            display: flex;
            flex-direction:column;
            background-color: #2E2E2E;
        }
        .howtowhith{
            display: none;
            /* padding-left: 140px;
            padding-top: 49px;
            padding-bottom: 55px; */
        }
        .contact{
            position: relative;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-top: 100px;
            margin-top: -23px;
    
        
         
            
           
        }
       

        .adress{
            position: absolute;
            margin-left: 50px;
            padding-top: 21px;
            text-align: center;
          
        }
        .faceinsta{
            width: 16.9px;
            height: 16.9px;
        }

        .social{
            position: relative;
            margin: 0 auto;
            display: flex;
            gap: 13px;
            padding-bottom: 23px;

            
            
           
        }




    }
        