.conteiner{
    max-width: 1920px;
    width: 100%;
    border: 2px solid green;
}
header{
    max-width: 84.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
}
.howto{
    width: 7.5%;
    padding-top: 52px;
}
ul{
    display: flex;
    gap: 53px;
    padding-top: 73px;
}
.section1{
    width: 84.5%;
    height: 613px;
    margin: 0 auto; 
    margin-top: 60px;
    background-image: url("../image/mainimage.png");

}
.section2{
    width: 84.5%;
    margin: 0 auto;
    margin-top: 138px;

}
h2{
    font-size: 53px;
}
.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    width: 29.5%;
    padding-top: 110px;
    border: 2px solid red;

}
.ptxt{
    
    margin-top: 20px;
    font-size: 40px;

}
.cardimg{
    max-width: 100%;
}
.ptxt2{
    font-size: 18px;
    margin-top: 33px;
}

